<a
    href="{% url 'admin_inventory' %}"
    class="quick-action-card"
>

    <span class="quick-action-icon">
        📦
    </span>

    <div>

        <h3>
            Inventory
        </h3>

        <p>
            Monitor product stock levels.
        </p>

    </div>

</a>
<a href="{% url 'admin_users' %}" class="quick-action-card">

    <span class="quick-action-icon">
        👥
    </span>

    <div>
        <h3>User Management</h3>
        <p>View registered users.</p>
    </div>

</a>